<%= error_messages_for :user %>

<p>This will just take a second. After registering, you'll be logged in. To log in next time you will need to click a link in the email we send you.
	<br /><%= link_to "Already a member?", :controller => "sessions", :action => :new %>
</p>

<% form_for :user, :url => users_path do |f| -%>
<p><label for="login">Login</label><br/>
<%= f.text_field :login %></p>

<p><label for="email">Email</label><br/>
<%= f.text_field :email %></p>

<p><label for="password">Password</label><br/>
<%= f.password_field :password %></p>

<p><label for="password_confirmation">Confirm Password</label><br/>
<%= f.password_field :password_confirmation %></p>

<p><%= submit_tag 'Sign up' %> (After you click this button you'll have to wait a few seconds. Be patient and don't click it again, it'll work!)</p>
<% end -%>