<p>
<h1><%= @bookset.title %></h1>
</p>
<p><%= @bookset.description %><br />
<span class="set_by">by <%= link_to @bookset.user.login, @bookset.user %><% if @bookset.author != "" %>.
	Originally by <%= @bookset.author %><% end %>
<% if @bookset.source_uri %>
	<%= link_to @bookset.source_name, @bookset.source_uri %>
<% else %>
	<% if @bookset.source_name %> -- <%= @bookset.source_name %><% end %>
<% end %>
</span>
</p>

<p>
<% if session[:user] == @bookset.user.id %>
<%= link_to "Edit this set", edit_bookset_path(@bookset) %> | <%=link_to "Add a book to this set", "#add"%> | 
<% end %>

</p>
<div id="book_set_details">
	<h2>Bookset Statistics</h2>
	<div id="book_set_details_content">
		<p class="book_set_details_stat"><%= @total_books %> Books</p>
		<p class="book_set_details_stat"><%= @total_pages%> Total Pages</p>
		<p class="book_set_details_stat">About <%= @total_pages * 250 %> Words</p>
		<p class="book_set_details_stat">About <%= (@total_pages * 250)/275/60 %> Hours to Read the Entire Bookset</p>
		<p class="book_set_details_stat">That's around <%= sprintf "%.1f", (@total_pages * 250)/275/60/7.0 %> week(s) if you read an hour a day.</p>
		<p>We're assuming you read 275 words a minute and that there are about 250 words per page.</p>
	</div>
</div>

<ul>
<% @bookset.listings.each do |listing| %>
	<li class="set_list">
		<table border="0">
			<tr>
				<td class="set_thumbnail_cell">
				<%=link_to (image_tag listing.book.get_image("small"), :height => listing.book.small_image_height, :width =>	listing.book.small_image_width, :class => 'set_thumbnail'), :controller => "books", :action => :show, :id => listing.book %>
				</td>
				<td class="set_details_cell">
					<div class="set_title"><%= listing.book.title %></div>
					<div class="set_authors"><%= listing.book.authors %></div>
					<% if listing.book.pages %><div class="set_pages"><%= listing.book.pages %> Pages</div><% end %>
					<span class="set_purchase"><%= link_to "Buy it on Amazon", listing.book.link %></span> |
					<span class="set_show"><%= link_to "Book Details", :controller => "books", :action => :show, :id => listing.book %></span>

					<% if session[:user] == @bookset.user.id %>
						| <span class="set_remove_book"><%= link_to "Remove this book from the set",  {:controller => "listings", :action => :destroy, :id => listing}, :confirm => "Are you sure", :method => :delete %></span>
					<% end %>
				</td>
			</tr>
		</table>
	</li>
<% end %>
</ul>

<%= link_to "A concise view of this set", "./#{@bookset.id}/books" %>

<% if session[:user] == @bookset.user.id %>
<a name="add" /><p><strong>Search for a book to add to this set:</strong>
	<%= render :partial => "/booksearches/form", :locals => {:booksearch => @booksearch, :bookset => @bookset.id} %>
</p>
<% end %>
