<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= @page_title ||= "Instabrary" %></title>
  <%= stylesheet_link_tag 'scaffold', 'styles' %>
</head>
<body>
	<div id="user_actions">
	<% if session[:user] %>
		<%= link_to "My Profile", "/profile"%> | <%= link_to "Log Out", "/logout"%>
	<% else %>
		<%= link_to "Log in", "/login" %> | <%= link_to "Sign up!", "/signup" %>
	<% end %>
	</div>


<%= link_to (image_tag "logo.gif", :border => 0, :id => 'logo', :alt => "Instabrary"), :controller => "home" %>

<div id="navbar"><%= link_to "Add a set", :controller => "booksets", :action => :new %> | 
					  <%= link_to "Show all sets", :controller => "booksets" %> 
					  <% if session[:user]%>
							 | <%= link_to "Show my sets", :controller => "booksets", :user => session[:user] %>
					  <% else %>
							 | <%= link_to "Sign up!", :controller => "users", :action => "new"%>
					  <% end %>
					  </div>
<div id="page">
	<div id="page-top"></div>
	<div id="content">

	<p style="color: green"><%= flash[:notice] %></p>

		<%= yield  %>
	</div>

	<div id="footer">Copyright 2007 - Instabrary</div>
</div><!--end page div-->
<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
_uacct = "UA-99971-16";
urchinTracker();
</script>
</body>
</html>